@import "./variables";
@import "./style-none";
@import "./fotns";
@import "./list";
@import "./cell";
@import "./block";
@import "card";
@import "./row";
@import "./burger";

.section {
  padding: 0px;
  &--sm {
    padding: 10px 0px 5px;
  }
  &_lg {
    padding-bottom: 28rem;
  }
  &_xl {
    border-top: 1px solid $color--gray;
    border-bottom: 1px solid $color--gray;
    padding: 2.5rem 0rem;
  }
  &--bg_color--black {
    background-color: $bg_color--black;
  }
  &--bg_color--red {
    background-color: $bg_color--red;
  }
  &--bg_img_first {
    background-image: url(../img/img_statues_in_walls.png);
    background-size: cover;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 990px;
  @media (max-width: 992px) {
    &--padding_media_max_lg {
      padding: 0rem 2rem;
    }
  }
}

.img {
  display: block;
  position: relative;
  object-fit: contain;

  &--ratio_1x0-8 {
    padding-bottom: 77.7%;
  }
  &--ratio_1-1x1 {
    padding-bottom: 105.84%;
  }
  &__element {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
}
